{% extends 'flatpages/default.html' %}
{% load censor %}

<!-- Название у нас будет Post -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим саму новость, идентификатор которой был передан в url -->
{% block content %}
<h1>{{ Post }}</h1>
    <hr>
        <p>{{ date|date:'M d Y' }}</p>
        <p> <strong>{{ news.title|censor }}</strong></p>
    <hr>
        <p>{{ news.content }}</p>
        <p>{{ news.comment.content }}</p>
    <br>
    <form>
        <a class="btn btn-primary" href="{% url 'news_delete' news.pk %}">Удалить</a>
        <a class="btn btn-primary" href="{% url 'news_edit' news.pk %}">Редактировать</a>
        <a class="btn btn-primary" href="{% url 'allnews' %}">К списку новостей</a>
    </form>
{% endblock content %}
